{% load static %}
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Obour</em> Institutes</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/#section1">Home</a></li>
        <li><a href="#section2">About Us</a></li>
        <li><a href="#section4">Courses</a></li>
        <li><a href="#section6">Contact</a></li>
        {% if user.is_authenticated and user.student %}
          <li><a href="{% url 'edu:profile' %}">{{request.user.username}}  <i class="fa fa-user" style="font-size:20px;"></i></a></li>
          <li><a href="{% url 'edu:logout' %}"><i class="fa fa-sign-out" style="font-size:20px;"></i></a></li>
      {% endif %}
      </ul> 
    </nav>
  </header>